<!--<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <hr>
        <h1><%= perguntar.titulo %></h1>
        <p><%= perguntar.descricao %></p>
    </div>
</body>
<%- include partials/footer.ejs %>-->

<h1>aqui</h1>